/* IE fixes */
.login .checkbox {
  margin-top: 10px;
}
.login p.checkbox label {
  text-align: right;
  width: 85px;
  top: 6px;
  left: 15px;
}
.login .checkbox input {
  width: 15px;
  height: 15px;
  border: none;
  padding: 5px;
  background: none;
}
